In [14]:
import numpy as np
import pandas as pd
import pycountry

In [15]:
HappinessIndex= pd.read_csv("datasets/WorldHappinessIndexReports.csv")
FactorReport= pd.read_csv("datasets/WorldHappinessFactorReport.csv")

In [16]:
HappinessIndex

          Country  Year  Index  Rank
0     Afghanistan  2013  4.040   143
1     Afghanistan  2015  3.575   153
2     Afghanistan  2016  3.360   154
3     Afghanistan  2017  3.794   141
4     Afghanistan  2018  3.632   145
...           ...   ...    ...   ...
1518     Zimbabwe  2019  3.663   146
1519     Zimbabwe  2020  3.299   151
1520     Zimbabwe  2021  3.145   148
1521     Zimbabwe  2022  2.995   144
1522     Zimbabwe  2023  3.204   134

[1523 rows x 4 columns]

In [17]:
FactorReport

,Country Name,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
0,Afghanistan,South Asia,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195,0.612072
1,Afghanistan,South Asia,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092,0.611545
2,Afghanistan,South Asia,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324,0.299357
3,Afghanistan,South Asia,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175,0.307386
4,Afghanistan,South Asia,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919,0.435440
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2194,Zimbabwe,Sub-Saharan Africa,2018,3.616480,7.783066,0.775388,52.625000,0.762675,-0.051219,0.844209,0.657524,0.211726,0.550508
2195,Zimbabwe,Sub-Saharan Africa,2019,2.693523,7.697755,0.759162,53.099998,0.631908,-0.047464,0.830652,0.658434,0.235354,0.456455
2196,Zimbabwe,Sub-Saharan Africa,2020,3.159802,7.596050,0.717243,53.575001,0.643303,0.006313,0.788523,0.660658,0.345736,0.577302
2197,Zimbabwe,Sub-Saharan Africa,2021,3.154578,7.656878,0.685151,54.049999,0.667636,-0.075575,0.756945,0.609917,0.241682,0.665703
2198,Zimbabwe,Sub-Saharan Africa,2022,3.296220,7.670123,0.666172,54.525002,0.651987,-0.069513,0.752632,0.640609,0.191350,NaN

In [18]:
FactorReport.isnull().sum()

Country Name                           0
Regional Indicator                   112
Year                                   0
Life Ladder                            0
Log GDP Per Capita                    20
Social Support                        13
Healthy Life Expectancy At Birth      54
Freedom To Make Life Choices          33
Generosity                            73
Perceptions Of Corruption            116
Positive Affect                       24
Negative Affect                       16
Confidence In National Government    361
dtype: int64

Fixing the column name and filtering out the dataset for the year 2013 to 2022

In [19]:
FactorReport.rename(columns={"Country Name": "Country"}, inplace=True)
FactorReport=FactorReport[FactorReport['Year'].isin(range(2013, 2023))]
HappinessIndex=HappinessIndex[HappinessIndex['Year'].isin(range(2013, 2023))]

In [20]:
df=HappinessIndex.merge(FactorReport, how='inner', on=['Country', 'Year'])

In [21]:
df.drop(columns=['Confidence In National Government'], inplace=True)

In [22]:
df.to_csv("datasets/Dataset.csv")